.tab-wrap{
	&.tab-wrap2{
		.tabset{
			a{
				&:before,
				&:after{
					display: none;
				}

				&.active,
				&:hover{
					border-bottom: 3px solid $yellow;
				}
			}
		}
	}
}

.block{
	&.service-tab{
		padding: 0 0 204px;
		margin: -29px 0 0;

		@include media('<widescreen') {
			padding: 0 0 100px;
		}

		@include media('<desktop') {
			padding: 0 0 50px;
		}

		@include media('<tablet') {
			margin: 0;
			padding: 50px 0;
		}

		.tabset{
			font-size: 17px;
			margin: 0 0 215px;

			@include media('<widescreen') {
				margin: 0 0 100px;
			}

			@include media('<desktop') {
				margin: 0 0 50px;
			}

			@include media('<tablet') {
				margin: 0;
			}

			li{
				margin: 0 19px 5px;

				@include media('<desktop') {
					margin: 0 10px 5px;
				}
			}

			a{
				min-height: 29px;
				display: block;
				color: $white;

				@include media('<tablet') {
					color: #363e3d;
				}
			}
		}

		.tab-content{
			padding: 0;
		}

		.title-holder{
			width: 28.5%;
			padding: 15px 0 0;

			@include media('<desktop') {
				padding: 0;
			}

			@include media('<tablet') {
				width: 100%;
			}
		}

		.image{
			margin: 0 -103px 0 0;

			@include media('<desktop') {
				margin: 0;
			}

			@include media('<tablet') {
				margin: 0 auto;
			}
		}

		.small-content{
			padding: 22px 45px 0 0;

			@include media('<desktop') {
				padding: 0 10px 0 0;
			}

			@include media('<tablet') {
				padding: 20px 0 0;
			}
		}

		.content-holder{
			margin: -16px 0 0;
		}
	}
}

.vertical-tab-wrap{
	&.faq-block{
		padding: 99px 0 0;

		@include media('<desktop') {
			padding: 10px 0 0;
		}

		.tabset{
			padding: 18px 27px 0;

			@include media('<tablet') {
				padding: 0 15px 15px;
			}

			&:before{
				display: none;
			}
		}

		.tab-content{
			&:before{
				display: none;
			}
		}
	}
}

.how-it-works{
	&.how-it-works2{
		padding: 0 0 1px;

		.pagi-holder .btn-prev, 
		.pagi-holder .btn-next{
			margin: 38px 0 0;
		}

		.tabset{
			a.active{
				color: #363e3d;

				&:after{
					display: none;
				}

				&:before{
					background: #363e3d;
				}
			}

			a{
				&:hover{
					color: #363e3d;

					&:after{
						display: none;
					}

					&:before{
						background: #363e3d;
					}
				}
			}
		}

		.title{
			color: #363e3d;
		}
	}
}

.four-cols{
	&.extension-cols{
		@include media('<desktop') {
			padding: 0;
		}
	}
}